.UserFilterContainer{
	position: relative;
	margin-top: 50px;
	margin-left:100px;
}

.UserFilterCard{
	position: absolute;
	width: 11rem;
	height: 12rem;
	float: left;
}

.ReportedPosting{
	position: relative;
	float: right;
	margin-right: 120px;
}

.ReportPosting{
	position: relative;
	float: right;
	margin-right: 120px;
}

.userImg{
	width: 230px;
	height: 220px;
	position: relative;
	float: left;
}

.profileImg{
	color: black;
}

.InactiveButton{
	margin-left:200px;
	margin-right: 100px;
}

.commentCard{
	width: 25rem;
	height: 7rem;
}