.UserFilterContainer{
	/*position: relative;*/
	/*margin-top: 50px;*/
	margin: auto;
	display: flex;
  	justify-content: center;
	/*margin-left:100px;*/
}

.UserFilterCard{
	/*position: absolute;*/
	width: 40rem;
	height: 12rem;
	/*margin-left: 120px;*/
	/*height: 12rem;*/
	/*float: left;*/
}

.ReportedPosting{
	/*position: relative;*/
	/*float: right;*/
	/*margin-left: 100px;*/
	/*display: flex;
	width: 800px;*/
	/*height: 60rem;*/
	/*width: 400px;*/
	/*margin-top: 50px;*/
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
 	/*position: absolute;
  	/*top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);*/*/

}

.ReportPosting{
	/*position: relative;*/
	/*float: right;*/
	/*margin-left: 100px;*/
	/*display: flex;
	width: 800px;*/
	/*height: 60rem;*/
	/*width: 400px;*/
	/*margin-top: 50px;*/
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
  	/*position: absolute;*/
  	/*top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);*/
}

.userImg{
	width: 230px;
	height: 220px;
	position: relative;
	float: left;
}

.profileImg{
	color: black;
}

.InactiveButton{
	margin-left:200px;
	margin-right: 100px;
}

.commentCard{
	width: 25rem;
	height: 7rem;
}