


/* Add BackGroundImg Or Not???????*/

.card {
        margin: 0 auto; /* Added */
         /* Added */
        margin-bottom: 10px; /* Added */
}

.CommentCardContainer{
		position: relative;
		margin-top: 50px;
}

.CommentCard{
	width: 30rem;
	height: 28rem;
	float: left;
}

.CommentArea{
	width: 25rem;
	height: 7rem;
}

.CommentReportCard{
	width: 30rem;
	height: 28rem;
	float: right;
}

.submitButton{
	margin-top: 8px;
	margin-left: 180px;
	margin-right: 200px;
	text-align: center;

}

.fileinline{
	position: relative;
	float: right;
}

.specialcolor{
	color: black;
}

.stars{
	margin-right: 80px;
    margin-left: 100px;
    position: relative;
    display: inline-block;
}
.star {
    visibility:hidden;
    cursor:pointer;
    font-size: 20px;
    /*margin-right: 100px;
    margin-left: 100px;
    position: relative;
    float: right;
    display: inline-block;*/
}
.star:before {
   content: "\2605";
   visibility:visible;
   /*display: inline-block;*/
}
.star:checked:before {
   content: "\2606";
   /*display: inline-block;*/
}