html,
body {
    height: 100%;
    background-image: url('../img/login_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-register {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
}
.form-register .checkbox {
    font-weight: 400;
}
.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-register input[type="email"] {
    margin-bottom: 10px;
}
.form-register input[type="password"] {
    margin-bottom: 10px;
}
.form-register input[type="text"] {
    margin-bottom: 10px;
}


.form-register .col-form-label{
    color: whitesmoke;
}
